<div ng-show="tests.loading" class="loading" ng-include="'templates/spinner.html'"></div>

<h2 class="col-md-offset-1 col-lg-offset-1">
    Tests - {{tests.currentTeacher.firstname}} {{tests.currentTeacher.lastname}}
    <button class="btn btn-primary btn-sm" title="Register Test" ui-sref="test_register">&#10010;</button>
</h2>
<div class="col-md-2 col-md-offset-5" style="margin-top: -45px;">
    <select class="form-control" ng-model="tests.currentPastSearch">
        <option value="">All</option>
        <option value="upcoming">Upcoming</option>
        <option value="past">Past</option>
        <option value="canceled">Canceled</option>
        <option value="graded">Graded</option>
        <option value="ungraded">Ungraded</option>
    </select>
</div>
<div class="col-md-2 col-md-offset-7" style="margin-top: -45px;">
    <input type="text" class="form-control" name="search" placeholder="Search.." ng-model="tests.search">
</div>

<div class="col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Registered Tests from {{tests.currentClassroom.grade}}</div>

        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr ng-repeat="test in tests.classroomTests | filter:tests.myFilter | filter:tests.search | orderBy : '-date'" ng-class="{danger: test.canceled}">
                <td>{{ test.subject.subject }}</td>
                <td>{{ test.title }}</td>
                <td>{{ test.date | date:'MMM. dd, yyyy' }}</td>
                <td>{{ test.time | date:'hh.mm a' }}</td>
                <td>
                    <button ng-show="test.past" class="btn btn-xs test-font" title="Test Scores" ui-sref="test_grade({id: test._id})" ng-class="{'btn-info': !test.graded, 'btn-success': test.graded}">&#9745;</button>
                    <button ng-show="test.upcoming && !test.canceled" class="btn btn-warning btn-xs test-font" title="Rescheduele" ng-click="tests.setTestToReschedueleDelete(test)" data-toggle="modal" data-target="#reschedueleModal">&#9719;</button>
                    <button ng-show="test.upcoming && !test.canceled" class="btn btn-danger btn-xs test-font" title="Cancel" ng-click="tests.setTestToReschedueleDelete(test)" data-toggle="modal" data-target="#deleteModal">&#10008;</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Delete Confirm Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <h4 class="modal-title">Do you want to delete or cancel "{{tests.testToReschedueleDelete.title}}"?</h4>
                <br/>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="tests.deleteTest()">Delete Test</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" ng-click="tests.cancelTest()">Cancel Test</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No, Leave</button>
            </div>
        </div>
    </div>
</div>

<!-- Rescheduele Confirm Modal -->
<div class="modal fade" id="reschedueleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <h4 class="modal-title">Rescheduele "{{tests.testToReschedueleDelete.title}}"</h4>
                <p>{{tests.testToReschedueleDelete.date | date:'MMM. dd, yyyy'}} - {{tests.testToReschedueleDelete.time | date:'hh.mm a'}}</p>
                <br/>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="bookAuthor" class="col-md-3 col-md-offset-1 control-label">Date</label>
                        <div class="col-md-6">
                            <input type="date" ng-model="tests.testToReschedueleDelete.date" class="form-control" placeholder="Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bookAuthor" class="col-md-3 col-md-offset-1 control-label">Time</label>
                        <div class="col-sm-6">
                            <input type="time" class="form-control" ng-model="tests.testToReschedueleDelete.time" placeholder="Time">
                        </div>
                    </div>
                </form>
                <br/>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" ng-click="tests.reschedueleTest()">Yes, Rescheduele Test</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No, Leave</button>
            </div>
        </div>
    </div>
</div>