<div ng-show="students.loading" class="loading" ng-include="'templates/spinner.html'"></div>

<h1 class="col-md-offset-1 col-lg-offset-1">
    {{students.currentSchool.name}}
    <button class="btn btn-primary btn-sm" title="Register Student" ui-sref="students_register">&#10010;</button>
</h1>
<div class="col-md-2 col-md-offset-5" style="margin-top: -45px;">
    <select class="form-control" ng-model="students.currentPastSearch">
        <option value="">All Students</option>
        <option value="current">Current Students</option>
        <option value="graduated">Graduated Students</option>
    </select>
</div>
<div class="col-md-2 col-md-offset-7" style="margin-top: -45px;">
    <input type="text" class="form-control" name="search" placeholder="Search.." ng-model="students.search">
</div>

<div class="col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Registered Students</div>

        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Grade</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Date Registered</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr ng-repeat="student in students.allStudents | filter:students.myFilter | filter:students.search" ng-class="{warning: student.endDate != undefined, danger: student.suspended && student.endDate == undefined}">
                <td>{{ student.firstname }} {{student.lastname}}</td>
                <td>{{ student.level }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.startDate | date:'MMM. dd, yyyy' }}</td>
                <td>
                    <button ng-show="student.suspended && student.endDate == undefined" class="btn btn-primary btn-xs" title="Restore" ng-click="students.studentToDeleteSuspend(student._id, (student.firstname + ' ' + student.lastname), 'restore')" data-toggle="modal" data-target="#deleteModal">&#10004;</button>
                    <button ng-hide="student.suspended || student.endDate != undefined" class="btn btn-warning btn-xs" title="Suspend" ng-click="students.studentToDeleteSuspend(student._id, (student.firstname + ' ' + student.lastname), 'suspend')" data-toggle="modal" data-target="#deleteModal">&#9888;</button>
                    <button class="btn btn-danger btn-xs" title="Delete" ng-click="students.studentToDeleteSuspend(student._id, (student.firstname + ' ' + student.lastname), 'delete')" data-toggle="modal" data-target="#deleteModal">&#10008;</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Student Confirm Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <h4 class="modal-title">Do you want to {{students.studentDeleteSuspendData.action}} the student named "<strong>{{students.studentDeleteSuspendData.name}}</strong>"?</h4>
                <br/>
                <button ng-show="students.studentDeleteSuspendData.action === 'delete'" type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="students.deleteStudent()">Yes, Delete Student</button>
                <button ng-show="students.studentDeleteSuspendData.action === 'restore'" type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="students.suspendStudent()">Yes, Restore Student</button>
                <button ng-show="students.studentDeleteSuspendData.action === 'suspend'" type="button" class="btn btn-warning btn-sm" data-dismiss="modal" ng-click="students.suspendStudent()">Yes, Suspend Student</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="students.resetModalData()">No, Leave Student</button>
            </div>
        </div>
    </div>
</div>