<h1 class="col-md-offset-1 col-lg-offset-1">
    {{teachers.currentSchool.name}}
    <button class="btn btn-primary btn-sm" title="Register Teacher" ui-sref="teachers_register">&#10010;</button>
</h1>
<div class="col-md-2 col-md-offset-7" style="margin-top: -45px;">
    <!--<i class="fa fa-search" aria-hidden="true"></i>-->
    <input type="text" class="form-control" name="search" placeholder="Search.." ng-model="teachers.search">
</div>

<div class="col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Registered Teachers</div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Teacher Name</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Starting Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr ng-repeat="teacher in teachers.allTeachers | filter:teachers.search" ng-class="{danger: teacher.suspended}">
                <td>{{ teacher.teacher.firstname }} {{teacher.teacher.lastname}}</td>
                <td>{{ teacher.teacher.username }}</td>
                <td>{{ teacher.phone }}</td>
                <td>{{ teacher.startDate | date:'MMM. dd, yyyy' }}</td>
                <td>
                    <button ng-show="teacher.suspended" class="btn btn-primary btn-xs" title="Restore" ng-click="teachers.teacherToDeleteSuspend(teacher._id, (teacher.firstname + ' ' + teacher.lastname), 'restore')" data-toggle="modal" data-target="#deleteModal">&#10004;</button>
                    <button ng-hide="teacher.suspended" class="btn btn-warning btn-xs" title="Suspend" ng-click="teachers.teacherToDeleteSuspend(teacher._id, (teacher.firstname + ' ' + teacher.lastname), 'suspend')" data-toggle="modal" data-target="#deleteModal">&#9888;</button>
                    <button class="btn btn-danger btn-xs" title="Delete" ng-click="teachers.teacherToDeleteSuspend(teacher._id, (teacher.firstname + ' ' + teacher.lastname), 'delete')" data-toggle="modal" data-target="#deleteModal">&#10008;</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Book Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br/>
                <h4 class="modal-title">Do you want to {{teachers.teacherDeleteSuspendData.action}} the teacher named "<strong>{{teachers.teacherDeleteSuspendData.name}}</strong>"?</h4>
                <br/>
                <button ng-show="teachers.teacherDeleteSuspendData.action === 'delete'" type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="teachers.deleteTeacher()">Yes, Delete Teacher</button>
                <button ng-show="teachers.teacherDeleteSuspendData.action === 'restore'" type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="teachers.suspendTeacher()">Yes, Restore Teacher</button>
                <button ng-show="teachers.teacherDeleteSuspendData.action === 'suspend'" type="button" class="btn btn-warning btn-sm" data-dismiss="modal" ng-click="teachers.suspendTeacher()">Yes, Suspend Teacher</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No, Leave Teacher</button>
            </div>
        </div>
    </div>
</div>